a{
    text-decoration: none;
    color: black;
    margin-top:15px;
}
#header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: rgb(140, 140, 153);
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    border: 3px solid black;
}

#a{
  color:black;
}
#b{
    color:black;
}
#c{
    color:black;
  }
#d{
    text-align:center;
}

#content{
    float:left;
    background-color: rgb(140, 140, 153);
}
#content div{
    border-radius:10px;
    background-color: white;
}
#container2
{   
    background-color: rgb(140, 140, 153);
    text-align: justify;
    font-weight: bold;
    font-size:28px;
}

#right{
    font-size20px;
}

#y
{
    border-radius:7px;
}
#footer
{
    border: 3px solid black;
    justify-content: end;
    background-color: rgb(140, 140, 153);    
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
#log{
    font-size:16px;
}

#phone
{
    font-size:16px;
}

#mail
{
    font-size:16px;
}

#container3{
    float:right;
    background-color: rgb(140, 140, 153);
}
#container3 div{
    border:2px solid black;
    border-radius:10px;
    background-color:rgb(255,255,255);
}
#left{
    border:2px solid black;
}
#right{
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    border:2px solid black;
}
#o{ 
    float: right;
}
#h{ 
    margin-top:-15px;
    float: left;
}
#t{ margin-top:15px;
    float: left;
}