@media(min-width:768px)
{
    #header{
        vertical-align:center;
        display: grid;
        grid-template-columns: minmax(150px,1fr) minmax(150px,1fr) minmax(150px,1fr) minmax(150px,1fr) minmax(150px,1fr);
        grid-auto-rows: 100%;
    }
    #a{
        margin-top:25px;
    }
    #b{
        margin-top:25px;
    }
    #c{
        margin-top:25px;
    }

    #o{
        float:right;
    }
    #t{
        float:right;
    }
    #x{
        float:left;
    }
    #d{
        margin-top:8px;
        text-align:center;
        font-size:16px;
    }
    #left{
    font-size:22px;
    }
    #right{
    font-size:22px;
    }

    #footer{
        display:grid;
        grid-template-columns:minmax(170px,1fr) minmax(170px,1fr) minmax(170px,1fr);
        grid-auto-rows: 80%;
        vertical-align: middle;
    }
    
    #footer div{
      text-align: center;
    }
}