@media(min-width:1024px)
{
#header
{
    text-align: center;
    justify-content: end;
    margin-top: 0;
    display:grid;
    grid-template-columns: minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr);
    grid-auto-rows: 100%;
}
#header div{
   display:grid;
   grid-template-columns: minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr);
   grid-auto-rows:100%;
}

    x { float: right; }
#content{
    grid-gap: 15px;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-auto-rows: 100%;
    margin-top: 0;
    padding:30px 30px;
}
#content div{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    float:right;
    grid-gap: 10px;
    grid-template-columns:2fr 1fr;
}

#x{
    float:right;

}
#p{ 
    float:right;
    margin-top:33px;
}
#t{
    float:left;
}
#z{
    float:left;
}
#container2
{
    grid-gap: 15px;
    margin-top: 0;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-auto-rows: 100%;

}
#y{
    float:right;
}
#footer{
    display:grid;
    grid-template-columns:minmax(170px,1fr) minmax(170px,1fr) minmax(170px,1fr);
    grid-auto-rows: 80%;
    vertical-align: middle;
}

#footer div{
  text-align: center;
}

#container3{
    grid-gap: 15px;
    float:right;
    grid-gap: 30px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: 100%;
    padding:30px 30px;
}
#container3 div{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    float:right;
    grid-gap: 10px;
    grid-template-columns:1fr 1fr;

}
#d
{
  color:black;
  font-size:20px;
}
}