@media(min-width:1024px)
{
    #header
    {
        text-align: center;
        justify-content: end;
        margin-top: 0;
        display:grid;
        grid-template-columns: minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr);
        grid-auto-rows: 100%;
    }
    #header div{
       display:grid;
       grid-template-columns: minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr) minmax(153px,1fr);
       grid-auto-rows:100%;
    }
    #main
    {
        margin-top:10px;
    }
    #new
    {
        margin-top:10px;
    }
    #about
    {
        margin-top:10px;
    }
    #inf
    {
     color:black;
     font-size:16px;
    }
  .container3{
    display:grid;
    grid-template-columns:1fr;
    grid-auto-rows: 100%;
}
.container3 div{
    text-align: justify;
    grid-template-columns:1fr ;

}
  #x
  {
      float:left;
  }

  #footer{
    display:grid;
    grid-template-columns:minmax(170px,1fr) minmax(170px,1fr) minmax(170px,1fr);
    grid-auto-rows: 80%;
    vertical-align: middle;
}

#footer div{
  text-align: center;
}
    #l
    {  
        float:left;
    }
}