@media(max-width:768px)
{
    .header{
        vertical-align:center;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 100%;
    }
    #a{
        margin-top:25px;
    }
    #b{
        margin-top:25px;
    }
    #c{
        margin-top:25px;
    }
    #f{
        margin-top:8px;
        text-align:center;
        font-size:16px;
    }
    .container1
    {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    }


    #footer{
        display:grid;
        grid-template-columns:1fr ,1fr ,1fr;
        grid-auto-rows: 80%;
        vertical-align: middle;
    }
    #mail
    {
      font-size:14px;
    }
    #phone
    {
        font-size:14px;
    }

    #log
    {
        font-size:14px;
    }
    
    #footer div{
      text-align: center;
    }
}