a{
    text-decoration: none;
    color: black;
    margin-top:15px;
}
#header{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(140, 140, 153);
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    border: 3px solid black;
}

#a{
  color:black;
  font-size: 24px;
}
#b{
    color:black;
    font-size: 24px;
  }
#c{
    color:black;
    font-size: 24px;
  }

#h
{
   width:185px;
   height:272px;
}

#content{
    float:left;
    background-color: rgb(140, 140, 153);
}
#content div{
    border-radius:7px;
    background-color: white;
}
#right{
    text-align: justify;
    border: 2px solid black;
    font-size:20px;
}
#left{
    border: 2px solid black;
    font-size:20px;
}

#left img
{
    margin:5px;
}
.container3{
    float:right;
    background-color: rgb(140, 140, 153);
}
.container3 div{
    border:2px solid black;
    border-radius:10px;
    background-color:rgb(255,255,255);
}
#footer
{
    border: 3px solid black;
    justify-content: end;
    background-color: rgb(140, 140, 153);    
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
#log{
    font-size:16px;
}

#phone
{
    font-size:16px;
}

#mail
{
    font-size:16px;
}
