@media(min-width:768px)
{
    .header{
        vertical-align:center;
        display: grid;
        grid-template-columns: minmax(50px,1fr) minmax(50px,1fr) minmax(50px,1fr) minmax(50px,1fr) minmax(50px,1fr);
        grid-auto-rows: 100%;
    }
    #a{
        margin-top:25px;
    }
    #b{
        margin-top:25px;
    }
    #c{
        margin-top:25px;
    }

    #f{
        text-align:center;
        font-size:16px;
    }
    #left img
    {
        float:left;
    }
    #right img
    {
        float:left;
    }


    #footer{
        display:grid;
        grid-template-columns:minmax(170px,1fr) minmax(170px,1fr) minmax(170px,1fr);
        grid-auto-rows: 80%;
        vertical-align: middle;
    }
    
    #footer div{
      text-align: center;
    }
}